<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CURD</title>
    <link rel="stylesheet" href="/styles/index.css">
    
</head>
<body>
    <div class="container">
        <a href="/back" class="back">Back</a>
        <h1 class="heading">Users List</h1>
        <div class="cards">
            <% allUsers.forEach(function(user){ %>
                <div class="cart">
                <div class="image">
                    <img src=" <%= user.image %> "alt="">
                </div>
                <h3><%= user.username %></h3>
                <p><%= user.email %></p>
                <div class="operation">
                    <div class="edit"><a href="/edit/<%= user._id %>" style="color: rgb(251, 251, 173);">Edit</a></div>
                    <div class="del"><a href="/delete/<%= user._id %>">Delete</a></div>
                </div>
            </div>
           <% }) %>
            
        </div>
    </div>
</body>
</html>